body{
    /*background-color: rgba(255, 255, 255, 0.911);*/
    background-image: url("./Vac.png");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    height: 100px;
}

section{
    height: 100px;
}

.secTitulo{
    position: absolute;
    left: 135px;
    top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2e50d6;
    font-weight: bold; 
    font-size: 35px; 
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #101e5a;
    font-weight: bold; 
    font-size: 21px;
    opacity: 0.5;
}

.opDatos{
    position: absolute;
    left: 580px;
    width: 180px;
    top: 35px;
    cursor: pointer;
}

.opEducacion{
    position: absolute;
    left: 780px;
    width: 180px;
    top: 35px;
    cursor: pointer;
}

.opNoticias{
    position: absolute;
    left: 930px;
    width: 180px;
    top: 35px;
    cursor: pointer;
}

.opRegulacion{
    position: absolute;
    left: 1050px;
    width: 180px;
    top: 35px;
    cursor: pointer;
}

.opBotonHoax{
    position: absolute;
    left: 1220px;
    top: 42px;
    border: none;
    padding: 15px 40px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    background-color: #2e50d6;
    font-weight: normal; 
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.secImagen1{
    position: relative;
    height: 915px;
}

.subTitulo{
    position: absolute;
    left: 135px;
    top: 95px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #101e5a;
    font-weight: 800;
    font-size: 60px; 
    width: 550px;
}

.parrafoSec2{
    position: relative;
    top: 295px;
    left: 135px;
    width: 450px; 
}

.imagen1{
    position: absolute;
    background-image: url("./Ima1.png");
    background-repeat: no-repeat;
    background-position: left;
    left: 765px;
    width: 745px;
    height: 910px;
    top: 30px;
    background-size: cover;
}

.lineaProteccion{
    position: absolute;
    top: 470px;
    left: 180px;
    width: 280px;
    font-size: 18px;
    opacity: 0.8;
}

.lineaSeleccionadas{
    position: absolute;
    top: 470px;
    left: 400px;
    width: 250px;
    font-size: 18px;
    opacity: 0.8;
}

.lineaAgenda{
    position: absolute;
    top: 665px;
    left: 180px;
    width: 400px;
    font-size: 26px;
    opacity: 0.9;
}

.imagen2{
    position: absolute;
    background-image: url("./Ima2.png");
    background-repeat: no-repeat;
    background-position: left;
    left: 0px;
    width: 1515px;
    height: 350px;
    top: 1050px;
    background-size: cover;
}

.preguntaVacunar{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #101e5a;
    font-weight: bold; 
    position: absolute;
    top: 305px;
    left: 150px;
    width: 700px;
    opacity: 1;
    font-size: 40px;
}

.beneficios{
    position: absolute;
    top: 410px;
    left: 150px;
    width: 500px;
}

.cuadro1 {
    position: absolute;
    top: 1640px;
    left: 135px;
    width: 290px;
    height: 365px;
    background: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 10px;
    box-shadow: 3px 3px #dbe2ff;
}

.cuadro2 {
    position: absolute;
    top: 1640px;
    left: 450px;
    width: 290px;
    height: 365px;
    background: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 10px;
    box-shadow: 3px 3px #dbe2ff;
}

.cuadro3 {
    position: absolute;
    top: 1640px;
    left: 770px;
    width: 290px;
    height: 365px;
    background: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 10px;
    box-shadow: 3px 3px #dbe2ff;
}

.cuadro4 {
    position: absolute;
    top: 1640px;
    left: 1090px;
    width: 290px;
    height: 365px;
    background: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 10px;
    box-shadow: 3px 3px #dbe2ff;
}

.subTema{
    position: relative;
    top: 100px;
    left: 40px;
    width: 210px;
    opacity: 0.9;
}

.textoCuadro{
    position: relative;
    top: 95px;
    left: 40px;
    width: 210px;
    font-size: 16px;
}

.imagen3{
    position: absolute;
    background-image: url("./Ima2.png");
    background-repeat: no-repeat;
    background-position: left;
    left: 0px;
    width: 1515px;
    height: 350px;
    top: 1050px;
    background-size: cover;
}